.projects_container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 16px;
  text-align: center;

  @media screen and (min-width: 375px) {
    max-width: 350px;
  }

  @media screen and (min-width: 475px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    max-width: 720px;
    padding: 50px 20px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1200px;
    padding: 80px 50px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1400px;
    padding: 100px 112px;
  }

  @media screen and (min-width: 1920px) {
    max-width: 1900px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media screen and (min-width: 1280px) {
    gap: 40px;
  }
}
