.contact_container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 200px 16px;

  @media screen and (min-width: 375px) {
    max-width: 350px;
  }

  @media screen and (min-width: 475px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    max-width: 720px;
    padding: 200px 20px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1200px;
    padding: 280px 50px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1400px;
    padding: 280px 112px;
  }

  @media screen and (min-width: 1920px) {
    max-width: 1900px;
  }
}

.title {
  font-size: var(--primary-text-size);
  font-weight: 400;
  margin-bottom: 28px;
  text-align: center;
}

.list {
  margin-bottom: 35px;
}

.list_item {
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover,
  &:focus {
    transition: var(--animation-hover);
    transform: var(--scale-transform-hover);
    .link {
      color: var(--hover-focus-color);
    }
    .icon {
      stroke: var(--hover-focus-color);
    }
  }
}

.link {
  font-size: var(--mobile-font-size);
  font-weight: 600;
  text-decoration: none;
  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    font-size: var(--secondary-text-size);
  }
}

.icon {
  width: 24px;
  height: 24px;
  stroke: var(--secondary-text-color);
  margin-right: 16px;

  @media screen and (min-width: 1280px) {
    width: 32px;
    height: 32px;
  }
}

.second_title {
  font-size: var(--footer-text-size);
  font-weight: 400;
  margin-bottom: 15px;
  text-align: center;
}
