.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.link {
  font-size: var(--third-text-size);
  font-weight: 500;
  color: var(--primary-text-color);
  text-decoration: none;

  @media screen and (min-width: 768px) {
    font-size: var(--primary-text-size);
  }

  @media screen and (min-width: 1440px) {
    font-size: var(--secondary-text-size);
  }

  &:hover,
  &:focus {
    color: var(--hover-focus-color);
    transition: var(--animation-hover);
    transform: var(--scale-transform-hover);
  }
}

.active {
  color: var(--hover-focus-color);
  text-decoration: none;
  font-size: var(--third-text-size);
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: var(--primary-text-size);
  }

  @media screen and (min-width: 1440px) {
    font-size: var(--secondary-text-size);
  }
}
