:root {
  --primary-text-size: 20px;
  --secondary-text-size: 24px;
  --third-text-size: 30px;
  --footer-text-size: 16px;
  --mobile-font-size: 18px;
  // --mob-title-size: 32px;
  --desktop-title-size: 60px;
  // --big-desctop-desc-size: 24px;
  // --big-desktop-title-size: 48px;

  --primary-background-color: #030712;
  --secondary-background-color: #111827;
  --third-background-color: #374151;
  --primary-text-color: #d1d5db;
  --secondary-text-color: #f9fafb;

  --hover-focus-color: #14a800;
  --hover-light-grey-color: #cac9c9;

  --animation-hover: 0.5s ease-in-out;
  --scale-transform-hover: scale(1.1);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  font-size: var(--primary-text-size);
  font-style: normal;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
