.burger {
  display: flex;
  position: relative;
  z-index: 150;
  align-items: center;
  justify-content: space-around;
  width: 60px;
  height: 50px;
  border: 2px solid var(--hover-focus-color);
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;

  & span {
    height: 3px;
    width: 55%;
    transform: scale(1);
    background-color: var(--secondary-text-color);
    border-radius: 5px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 75%;
    background-color: var(--secondary-text-color);
    border-radius: 5px;
  }

  &::before {
    top: 25%;
  }

  &::after {
    bottom: 25%;
  }

  &:hover,
  &:focus {
    border-color: var(--secondary-text-color);
    transition: var(--animation-hover);
  }

  &:hover span,
  &:focus span {
    background-color: var(--hover-focus-color);
    transition: var(--animation-hover);
  }

  &:hover::before,
  &:hover::after,
  &:hover::before,
  &:focus::after {
    background-color: var(--hover-focus-color);
    transition: var(--animation-hover);
  }
}

.active_burger {
  display: flex;
  position: relative;
  z-index: 150;
  align-items: center;
  justify-content: space-around;
  width: 60px;
  height: 50px;
  border: 2px solid var(--hover-focus-color);
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;

  & span {
    height: 3px;
    width: 60%;
    transform: scale(1);
    background-color: var(--secondary-text-color);
    border-radius: 5px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 80%;
    background-color: var(--secondary-text-color);
    border-radius: 5px;
  }

  & span {
    transform: scale(0);
  }

  &::before {
    top: 47%;
    transform: rotate(-45deg) translate(0, -25%);
  }

  &::after {
    top: 47%;
    transform: rotate(45deg) translate(0, 25%);
  }

  &:hover,
  &:focus {
    border-color: var(--secondary-text-color);
    transition: var(--animation-hover);
  }

  &:hover::before,
  &:hover::after,
  &:hover::before,
  &:focus::after {
    background-color: var(--hover-focus-color);
    transition: var(--animation-hover);
  }
}
